<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="input_folder" value="" />
        <add key="list_file" value="" />
        <add key="exported_afs" value="" />
    </appSettings>
</configuration>